<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">
<!--配置扫描包-->
    <context:component-scan base-package="com.lmh.controller,com.lmh.api"/>
<!-- mvc驱动   -->
    <mvc:annotation-driven/>
<!-- 静态资源放行   -->
    <mvc:default-servlet-handler/>
<!--视图解析器    -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"
    p:suffix=".jsp"
    p:prefix="/WEB-INF/v/"/>
    <!--配置后置处理器，配置完成之后，可以自动调用配置在spring ioc容器中的shiro对象的 init和destory方法-->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>

    <!-- Enable Shiro Annotations for Spring-configured beans.  Only run after
         the lifecycleBeanProcessor has run: -->
    <!--陪住开启shiro的注解功能 但是依赖于lifecycleBeanPostProcessor的配置-->
    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"
          depends-on="lifecycleBeanPostProcessor"/>
    <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
        <property name="securityManager" ref="securityManager"/>
    </bean>


<!-- 配置文件上传配置   -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"
    p:maxUploadSize="#{1024*1024*15}"
    p:maxUploadSizePerFile="#{1024*1024*5}"
    p:uploadTempDir="file:d:\temp"/>
</beans>